.simple-item {
    min-height: 100px;
    width: 100%;
    background-color: rgb(98, 169, 62);
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 16px;
}

.items-wrp {
    margin-top: 100px;
}